---
name: Main

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test-release:
    name: Release
    runs-on: ubuntu-latest
    needs: [test-main, test-release]
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Semantic Release
        uses: docker://conversocial/conv_cicda:latest

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [test-main, test-release]
    if: >
      !contains(github.event.head_commit.message, 'skip ci')
      && github.ref == 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Semantic Release
        uses: docker://conversocial/conv_cicda:latest

  slack-workflow-status:
    if: always()
    name: Notify
    needs:
      - containerise
    runs-on: ubuntu-latest
    steps:
      - name: Slack Workflow Notification
        uses: Gamesight/slack-workflow-status@master
        with:
          # Required Input
          repo_token: ${{secrets.GITHUB_TOKEN}}
          slack_webhook_url: ${{secrets.SLACK_WEBHOOK_URL}}
          channel: '#release-libs'
          name: GitHub Actions
          icon_emoji: ':tophat:'
          include_jobs: true
